[Unit]
Description=cps-auth-dev
After=syslog.target

[Service]
User=nmsadmin
ExecStart=/home/nmsadmin/cps/auth/cps-auth-dev.jar
SuccessExitStatus=143

# This is important to read application.properties file and application-{profile}.properties file.
WorkingDirectory=/home/nmsadmin/cps/auth

[Install]
WantedBy=multi-user.target