mat-form-field {
	margin-right: 12px;
}
.start_date {
	text-align: right;
}
.kt-container .kt-grid__item .kt-grid__item--fluid {
	background: white;
}
button {
	border: 1px solid red;
	background: rgba(226, 185, 69, 0.93);
	color: white;
}
