// Here you can add other styles

.card-title-big {
  font-size: 1.5em;
}

.card-title-sm {
  font-size: 1em;
}

.card-header {
  padding: 0.5em 1em !important;
}

.custom-button {
  padding: 0rem 0.5rem;
}
