// Variable overrides
$sidebar-width: 330px;
$navbar-brand-width: 275px;
$navbar-height: 70px;
$modal-lg: 800px;
$modal-md: 1700px;

//$sidebar-nav-link-hover-bg: transparent !default;
//$sidebar-nav-link-active-bg: transparent !default;
